.mainbody{
			background:#f8f8f8;
			width: 910px;

			margin: 10px auto;
			/*overflow: auto;*/
		}
	    .leftbox{
	    	/*background: #FF95CA;*/
	    	width: 400px;
	    	height: 600px;
	    	float: left;

	    }
        .leftbox fieldset {
        border: none;
        margin:1em 0;
        padding: 1em;
        /*background: #f8f8f8;*/
        }
        .leftbox legend{
        font-weight: bold;
        }
        .leftbox label{
        display: block;
        cursor: pointer;
        }
        .leftbox input{
        width: 20em;
         }
        .leftbox textarea{
        width: 100%;
        height: 20em;
         }

        

	    .rightbox{
	    	/*background: #CA8EFF;*/
	    	background-image: url('../img/iphone.png');
	    	background-repeat: no-repeat;
	    	background-position: center;
	    	width: 500px;
	    	height: 600px;
	    	float: left;
	    	margin-left: 5px;
	    	position: relative;
	    	overflow: hidden;
	    }
	    .ad-title{
	    	position: absolute;
	    	width: 360px;
	    	height: 70px;
	    	/*background-color: #fff;*/
	    	top:61px;
	    	left:68px; 
	    	overflow: hidden;
        }
        .ad-image{
        	position: absolute;
        	width: 360px;
        	height: 250px;
        	background-color: #ccc;
        	top:131px;
	    	left:68px;
	        overflow: hidden;
        }
        .ad-content{
            position: absolute;
        	width: 360px;
        	height: 130px;
        	background-color: #fff;
        	top:381px;
	    	left:68px;

        	
        }
        #uploadPreview img{
            width: 360px;
            height: 250px;

        }
        #dropbox{
            border:10px dashed #ccc;
            width:200px;
            min-height: 150px;
        }
        #dropbox .hover{
            border: 10px dashed #0c0;
        }
        .ad-sub-btn{
            margin-bottom: 30px;
        }